// colors
$bg-color: white;
$border-color: #777;
$correct-color: #d2fff0;
$incorrect-color: #ffc2c2;
$acive-color: #7fffd4;

// border
$normal-border: 1px solid $border-color;
$active-border: 1px solid $acive-color;

// std
$padding-std: 10px;
$flex-gap-std: 10px;
