@use "./_variables.scss" as *;

.quiz-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 10px;
    border: $normal-border;
    width: 320px;
    gap: $flex-gap-std;
  }